# {{ project_name }}

Author: {{ author }}
Python: {{ python_version }}

## Getting Started

This project was generated with [Copier](https://copier.readthedocs.io/).

## Development

```bash
pip install -e ".[dev]"
pytest
```

## Template

Managed by [Copier](https://copier.readthedocs.io/) | Phase {{ adoption_phase | default(3) }}/3

## License

MIT
